<!DOCTYPE html>
<html>
<body>
  <form action="/test" method="post">
    <select name = "language">
      <option value="en">English</option>
      <option value="fr">French</option>
      <option value="es">Spanish</option>
      <option value="zh">Chinese</option>
      <option value="ko">Korean</option>
      <option value="de">German</option>
      <option value="lt">Lithuanian</option>
    </select>
    <br>
    <br>
  <div class="sub-main">
    <input class = "button-two" type="submit" value="Submit">
  </div>

  <div>
    Version 1.0
  </div>
  <div>
    This translates powerpoints from any lanuage into any other lanuage using API's from google for lanuage 
    translation as well as Tesseract OCR for image translation 
  </div>
  </form>
</body>
</html>